<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="LogInAndOutMapper">
	<insert id="insertEmpByEmpDto" parameterType="EmpDto">
		insert 
		into 		emp(id, password, name, gender, birth, tel, address, agreement)
		values		   (#{id}, #{password}, #{name}, #{gender}, #{birth}, #{tel}, #{address}, #{agreement})
	</insert>
 </mapper>